<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to Quotes App</h1>

<h3>Lets start our journey!</h3>
<div class="link">

<%= link_to 'Quotes', controller: 'quote' %>
</div>
